.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

.weatherList {
    padding: 0;
    margin: 0;
}

.weatherDay {
    background: rgba(238, 238, 238, 0.637);
    border-radius: 5px;
    padding: 0.5rem 1.5rem;

    &:hover {
        background: #eee;
    }

    &::before {
        display: none;
    }
}

.weatherInfo {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
    cursor: pointer;

    &:not(.nohover):hover {
        background: rgb(207, 207, 207);
    }
}

.weatherDayLoader {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 0.5rem;
}